<a href="https://colab.research.google.com/github/Srinidi-V/Machine-Learning-algorithms/blob/main/Iris_data_multivariate_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dataset Acquiring**

In [ ]:
#Dataset of consideration
dataset = '/content/drive/My Drive/Iris.csv'

In [ ]:
import pandas as pd
data = pd.read_csv(dataset)
data = data.dropna()
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
len(data)

150

# **Defining Required Functions**

In [ ]:
def Variance(x, mean, n):
  var = 0
  for i in range(n):
    var += (x[i] - mean)**2
  var = var / n
  return var

In [ ]:
def Mean(x, n):
  mean = 0
  for i in range(n):
    mean += x[i]
  mean = mean / n
  return mean

# **List of features and class labels for future computations**

In [ ]:
feature_name = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
class_name = list(data["Species"].unique())

# **Calculating mean and covariance matrix for each class**

In [ ]:
import numpy as np

def ComputeMeanCovariance(species_name, n):
  final_result = {}
  mean_vec = []
  cov_matrix = np.zeros((n,n))
  new_data = data[data.Species == species_name]
  for i in range(len(feature_name)):
    mean_vec.append((new_data[feature_name[i]].sum()) / len(new_data))
  for i in range(4):
    cov_matrix[i][i] = Variance(list(new_data[feature_name[i]]), Mean(list(new_data[feature_name[i]]), len(new_data)), len(new_data))
  final_result["Mean"] = mean_vec
  final_result["Covariance"] = cov_matrix
  return final_result

In [ ]:
mean_and_cov = {}

for i in range(len(class_name)):
  mean_and_cov[class_name[i]] = ComputeMeanCovariance(class_name[i], len(feature_name))

print(mean_and_cov)

{'Iris-setosa': {'Mean': [5.006, 3.418, 1.464, 0.244], 'Covariance': array([[0.121764, 0.      , 0.      , 0.      ],
       [0.      , 0.142276, 0.      , 0.      ],
       [0.      , 0.      , 0.029504, 0.      ],
       [0.      , 0.      , 0.      , 0.011264]])}, 'Iris-versicolor': {'Mean': [5.936, 2.7700000000000005, 4.26, 1.3259999999999998], 'Covariance': array([[0.261104, 0.      , 0.      , 0.      ],
       [0.      , 0.0965  , 0.      , 0.      ],
       [0.      , 0.      , 0.2164  , 0.      ],
       [0.      , 0.      , 0.      , 0.038324]])}, 'Iris-virginica': {'Mean': [6.587999999999998, 2.974, 5.5520000000000005, 2.0260000000000002], 'Covariance': array([[0.396256, 0.      , 0.      , 0.      ],
       [0.      , 0.101924, 0.      , 0.      ],
       [0.      , 0.      , 0.298496, 0.      ],
       [0.      , 0.      , 0.      , 0.073924]])}}

# **Probability computation**

In [ ]:
import math

def MahanobisDistance(x, mean, cov):
  x = np.array(x)
  mean = np.array(mean)
  a = x - mean
  b = np.linalg.inv(cov)
  c = a.transpose()
  final = a @ b @ c
  return final

# **Multivariate Naive Bayes Classifier**

In [ ]:
def Classifier(x):
  prob_values = []
  for i in range(len(class_name)):
    t = 1 / (((2 * 3.14) ** (len(x) / 2)) * (np.linalg.det(mean_and_cov[class_name[i]]['Covariance']) ** 0.5))
    w = t * math.exp(-0.5 * MahanobisDistance(x, mean_and_cov[class_name[i]]['Mean'], mean_and_cov[class_name[i]]['Covariance']))
    prob_values.append(w)
  max_prob = max(prob_values)
  predicted_val = class_name[prob_values.index(max_prob)]
  print("The given data point belongs to the class ", predicted_val)

# **Sample Tests**

In [ ]:
Classifier([6.7,3.0,5.7,2.3])

The given data point belongs to the class  Iris-virginica

In [ ]:
Classifier([5,3.6,1.4,0.2])

The given data point belongs to the class  Iris-setosa